manifest {
    mainScript = 'paraMSA.nf'
}

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          time='4h'
          container='cbcrg/paramsa@sha256:25fc8cc66c0d8ab3422915edee9b7a22ff5cb66fdb13b43d18ba6a37366b6aa0'
          scratch=true
        }
    
        docker {
          enabled=true
        }
    
        params {
          guidance2dir='/guidance.v2.01'
        }
    }
}

