manifest {
    mainScript = 'paraMSA.nf'
}

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          time='4h'
          container='cbcrg/paramsa@sha256:4a969159bbf2fb67c52ee81d4fd5696357f75f50cd1234fa6b5266a894069b06'
          scratch=true
        }
    
        docker {
          enabled=true
        }
    
        params {
          guidance2dir='/guidance.v2.01'
        }
    }
}

