manifest {
    mainScript = 'paraMSA.nf'
}

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          time='4h'
          container='cbcrg/paramsa@sha256:b9dea2dded6dc8d507f396bd40ab8f405b54d25f41dd7b3a9adf213aef058517'
          scratch=true
          errorStrategy='retry'
          maxRetries=5
        }
    
        docker {
          enabled=true
        }
    
        params {
          guidance2dir='/guidance.v2.01'
        }
    }
    macbook {
        process {
          container='cbcrg/paramsa@sha256:b9dea2dded6dc8d507f396bd40ab8f405b54d25f41dd7b3a9adf213aef058517'
        }
        docker {
          enabled=true
        }
        params {
          guidance2dir='/guidance.v2.01'
        }
    }
}

